body {
    margin: 0.1px;
}

/* header part */

header {

    height: 850px;
    background-color: #ffaebf42;
    background-image: url(../img/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-position: bottom right 240px;
}

.container {
    max-width: 700px;
    padding-top: 200px;
    padding-left: 240px;
}

.header-txt h1 {
    margin: 32px 0px;
    font-size: 80px;
}

.header-txt p {
    margin: 32px 0px;
    font-size: 18px;
    color: #27272777;
}

.header-txt button {
    width: 180px;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #E55473;
    cursor: pointer;
}

/* Product section  */

.product-sec {
    gap: 24px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-title {
    font-size: 40px;
    font-weight: bolder;
}

.product-des {
    color: #272727af;
    font-size: 18px;
}

.card-sec {
    margin-top: 48px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-pink {
    width: 465px;
    height: 540px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background-image: url(../img/pngwing\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #a7216253;
}

.products-blue {
    width: 465px;
    height: 540px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background-image: url(../img/pngwing\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0598a05a;
}

.products-green {
    width: 465px;
    height: 540px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background-image: url(../img/pngwing\ 7.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #477d115f;
}

.card-sec div p {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    text-decoration: underline;
}

/* Service part */

.Service-prt {
    padding: 30px;
}

.service-txt p {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

.common {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serice-img {
    padding-top: 85px;
    border-radius: 8px;
    height: 200px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
}

.serice-img img {
    width: 88px;
    height: 88px;
    margin-bottom: 10px;
}

.serice-img p {
    color: #272727b9;
}

/* Discount part */

.discount-prt {
    height: 620px;
    gap: 135px;
    padding-right: 400px;
    padding-left: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e554731d;
}

.discount-title {
    text-align: center;
}

.discount-title h1 {
    padding-bottom: 24px;
    font-size: 40px;
}

.red-color {
    color: red;
}

.discount-title p {
    padding-bottom: 32px;
    font-size: 18px;
    color: #2727279a;
}

.discount-title button {
    height: 64px;
    width: 155px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E55473;
}

/* instagram part */

.instagram-sec {
    gap: 24px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instagram-title {
    font-size: 40px;
    font-weight: bolder;
}

.instagram-des {
    color: #272727af;
    font-size: 18px;
}

.instagram-product {
    margin-top: 48px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-pink-rose {
    width: 340px;
    height: 395px;
    background-image: url(../img/Flower\ 01.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.product-lily {
    width: 340px;
    height: 395px;
    background-image: url(../img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.prodict-mix {
    width: 340px;
    height: 395px;
    background-image: url(../img/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.product-red-rose {
    width: 340px;
    height: 395px;
    background-image: url(../img/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

/* Subscribe part */

.subscribe-sec {
    height: 400px;
    margin-top: 100px;
    background-image: url(../img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center
}

.subscribe-elements {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-elements h1 {
    font-size: 40px;
    margin-bottom: 1px;
}

.subscribe-elements p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #2727279c;
}

.input-box {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box input {
    height: 65px;
    width: 800px;
    padding-left: 30px;
    font-size: 16px;
    color: #272727a7;
    border: none;
    border-radius: 8px;
}

.input-box button {
    height: 64px;
    width: 155px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E55473;
}

/* footer sec */

.footer-prt {
    margin-top: 100px;
    height: 450px;
    background-color: #111010;
}

.footer-title {
    padding-top: 130px;
    text-align: center;
}

.footer-title h1 {
    font-size: 48px;
}

.footer-des {
    font-size: 18px;
    color: white;
}

.copy-right {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.365);
}


/* Responsive part */

@media screen and (max-width:600px) {
    header {
        height: 400px;
        background-position: top right;
    }

    .container {
        padding-left: 5px;
        padding-top: 5px;
    }

    .header-txt h1 {
        margin: 10px;
        font-size: 2.5em;
    }

    .header-txt p {
        font-size: 1em;
        font-weight: 600;
        color: #341118ca;
        text-align: center;
    }

    .header-txt button {
        margin-top: 20px;
        width: 90px;
        height: 40px;
        font-size: 15px;
    }

    .product-sec {
        margin-top: 60px;
        text-align: center;
    }

    .product-des{
        padding: 0px 10px 0px 10px;
    }

    .card-sec {
        gap: calc(100% - 5px) / 3;
    }

    .Service-prt{
        padding: 0;
    }

    .products-pink {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-position: top left -50px;
    }

    .products-blue {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-position: top center;
    }

    .products-green {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-position: center top -50px;
    }

    .card-sec div p {
        font-size: 15px;
        margin-top: 10px;
    }

    .service-txt p {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .common {
        margin-top: 30px;
        padding: 1px;
    }

    .serice-img {
        border-radius: 0px;
        height: 120px;
        padding-top: 20px;
    }

    .serice-img img {
        width: 60px;
        height: 60px;
    }

    .serice-img p {
        font-size: 12px;
        font-weight: bold;
    }

    .discount-prt {
        height: auto;
        gap: 30px;
        margin-top: 50px;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
        flex-direction: column-reverse;
    }

    .discount-title h1 {
        margin: 10px;
    }

    .discount-title p {
        padding: 0px 10px 0px 10px;
    }

    .discount-img img {
        width: 200px;
        height: 250px;
    }

    .discount-title button {
        width: 90px;
        height: 40px;
        margin-bottom: 30px;
        font-size: 15px;
    }

    .instagram-sec{
        margin-top: 50px;
    }

    .instagram-des {
        padding: 0px 10px 0px 10px;
        text-align: center;
    }

    .instagram-product {
        flex-direction: column;
    }

    .subscribe-sec {
        margin-top: 50px;
        background-position: inherit;
    }

    .subscribe-elements h1{
        padding: 0px 5px 0px 5px;
    }

    .input-box {
        flex-direction: column;
    }

    .input-box input {
        width: 300px;
        height: 50px;
    }

    .input-box button {
        width: 90px;
        height: 40px;
        margin-bottom: 30px;
        font-size: 15px;
    }

    .footer-prt {
        height: 250px;
        margin-top: 50px;
    }

    .footer-title {
        padding-top: 30px;
    }

    .footer-title h1 {
        font-size: 35px;
    }

    .footer-des {
        padding: 0px 10px 0px 10px;
        font-size: 16px;
    }
}

@media screen and (min-width:601px) and (max-width:767px) {
    header {
        height: 550px;
        background-position: top right;
    }

    .container {
        padding: 5px;
    }

    .header-txt {
        margin-left: 20px;
    }

    .header-txt h1 {
        font-size: 3.5em;
        margin: 50px 0px;
    }

    .header-txt p {
        margin-top: 50px;
        font-size: 1.5em;
        font-weight: 600;
        color: #37131bc6;
    }

    .product-sec {
        margin-top: 50px;
    }

    .product-des {
        padding: 0px 10px 0px 10px;
        text-align: center;
    }

    .products-pink {
        width: 180px;
        height: 180px;
        border-radius: 180px;
        background-position: top left;
    }

    .products-blue {
        width: 180px;
        height: 180px;
        border-radius: 180px;
        background-position: top center;
    }

    .products-green {
        width: 180px;
        height: 180px;
        border-radius: 180px;
        background-position: center top;
    }

    .header-txt button {
        margin-top: 20px;
        width: 120px;
        height: 50px;
        font-size: 15px;
    }

    .card-sec div p {
        font-size: 16px;
        margin-top: 10px;
    }

    .Service-prt{
        padding: 0;
    }

    .common {
        margin-top: 40px;
    }

    .serice-img {
        height: 150px;
        padding: 25px 10px 0px 10px;
        border-radius: 0px;
    }

    .serice-img img {
        width: 60px;
        height: 60px;
    }

    .serice-img p {
        font-size: 12px;
        font-weight: bold;
    }

    .discount-prt {
        height: auto;
        margin-top: 40px;
        gap: 5px;
        padding-right: 10px;
        padding-left: 10px;
        flex-direction: column-reverse;
    }

    .discount-title h1 {
        font-size: 35px;
    }

    .discount-title h1,
    .discount-title p {
        padding-bottom: 2px;
    }

    .discount-title button {
        width: 120px;
        height: 50px;
        margin-bottom: 30px;
        font-size: 15px;
    }

    .discount-img img {
        margin-top: 20px;
        width: 250px;
        height: 250px;
    }

    .instagram-des {
        padding: 0px 10px 0px 10px;
        text-align: center;
    }

    .instagram-product {
        gap: 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-pink-rose, .prodict-mix{
        margin-left: 20px;
    }

    .subscribe-sec {
        background-position: inherit;
    }

    .input-box {
        flex-direction: column;
    }

    .input-box input {
        height: 55px;
        width: 500px;
    }

    .input-box button {
        width: 120px;
        height: 50px;
        margin-bottom: 30px;
        font-size: 15px;
    }

    .footer-prt{
        height: 350px;
        margin-top: 50px;
    }

    .footer-title{
        padding-top: 30px;
    }

    .footer-des{
        padding: 0px 10px 0px 10px;
    }

}

@media screen and (min-width:768px) and (max-width:991px) {
    header {
        height: 600px;
        background-position: bottom right;
    }

    .container {
        padding: 10px;
    }

    .header-txt {
        padding-left: 20px;
    }

    .header-txt h1 {
        font-size: 4em;
    }

    .header-txt p {
        margin: 50px 0px;
        font-size: 1.5em;
        color: #421821d8;
    }

    .header-txt button {
        margin-top: 20px;
        width: 140px;
        height: 60px;
        font-size: 16px;
    }

    .product-sec {
        margin-top: 50px;
    }

    .product-des {
        padding: 0px 10px 0px 10px;
        text-align: center;
    }

    .products-pink {
        width: 220px;
        height: 220px;
        border-radius: 220px;
        background-position: top left;
    }

    .products-blue {
        width: 220px;
        height: 220px;
        border-radius: 220px;
        background-position: top center;
    }

    .products-green {
        width: 220px;
        height: 220px;
        border-radius: 220px;
        background-position: center top;
    }

    .card-sec div p {
        font-size: 20px;
        margin-top: 10px;
    }

    .Service-prt{
        padding: 0px 0px 30px 0px;
    }

    .serice-img {
        padding: 85px 10px 0px 10px;
        border-radius: 0px;
    }

    .common {
        margin-top: 40px;
    }

    .discount-prt {
        height: auto;
        gap: 30px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .discount-title p{
        padding: 0px 5px 0px 5px;
    }

    .discount-img img {
        height: 350px;
        width: 300px;
    }

    .discount-title button {
        width: 140px;
        height: 60px;
        font-size: 16px;
    }

    .instagram-sec{
        margin-top: 50px;
    }

    .instagram-des {
        padding: 0px 10px 0px 10px;
        text-align: center;
    }

    .instagram-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-pink-rose,
    .prodict-mix {
        margin-left: 30px;
    }

    .subscribe-sec {
        background-position: inherit;
    }

    .input-box {
        flex-direction: column;
    }

    .input-box input {
        height: 60px;
        width: 600px;
    }

    .input-box button {
        width: 140px;
        height: 60px;
        font-size: 16px;
    }

    .footer-prt{
        height: 350px;
    }

    .footer-title{
        padding-top: 30px;
    }

    .footer-des{
        padding: 0px 10px 0px 10px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    header {
        height: 700px;
        background-position: bottom right;
    }

    .container {
        padding-top: 70px;
        padding-left: 50px;
    }

    .header-txt h1 {
        margin: 1px 0px 70px 0px;
    }

    .header-txt p {
        font-size: 1.5em;
        color: #441a23;
        margin: 1px 0px 70px 0px;
    }

    .product-sec {
        margin-top: 50px;
    }

    .product-des {
        text-align: center;
    }

    .products-pink {
        width: 220px;
        height: 220px;
        border-radius: 220px;
        background-position: top left;
    }

    .products-blue {
        width: 220px;
        height: 220px;
        border-radius: 220px;
        background-position: top center;
    }

    .products-green {
        width: 220px;
        height: 220px;
        border-radius: 220px;
        background-position: center top;
    }

    .card-sec div p {
        font-size: 20px;
        margin-top: 10px;
    }

    .serice-img {
        border-radius: 0px;
    }

    .common {
        margin-top: 50px;
    }

    .discount-prt {
        height: auto;
        gap: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .instagram-product {
        gap: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-pink-rose,
    .prodict-mix {
        margin-left: 100px;
    }

    .input-box input {
        width: 700px;
    }
}

@media screen and (min-width:1200px) {
    header {
        background-position: bottom right;
    }

    .container {
        padding-top: 150px;
        padding-left: 150px;
    }

    .header-txt h1 {
        margin: 1px 0px 70px 0px;
    }

    .header-txt p {
        font-size: 1.5em;
        color: #441a23;
        margin: 1px 0px 70px 0px;
    }

    .product-sec {
        margin-top: 50px
    }

    .products-pink,
    .products-blue,
    .products-green {
        width: 400px;
    }

    .common {
        margin-top: 60px;
    }

    .discount-prt {
        padding-right: 200px;
        padding-left: 150px;
    }

}